registry= https://artifactory-fof.appl.kp.org/artifactory/api/npm/npm-virtual
always-auth=false
@angular:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@angular-cli:registry=https://registry.npmjs.org/
@ngtools:registry=https://registry.npmjs.org/